*{
    font-family: Arial;
    margin: 0%;
    padding: 0%;
    color:black;
    box-sizing: content-box;

}

.header{
    height:13%;
    background-color: white;
}

.up_logo{
    width:20%;
    float:left;
    height:100%;
    
}
.up_logo h1{
    padding-left:50%;
    font-size:300%;
    margin-top:8%;
    color:slateblue;
}


.navig{
    list-style: none;
    width: 45%;
    float:left;
    margin-left:25%;
    margin-top:2%;
    

}

.navig li{
    width:fit-content;
    float:left;
    font-size:140%;
    font-weight:bold;
    margin-top:2%;
    padding:2%;
}    
.navig li a{
    color:lightseagreen;
    text-decoration:none;
}
.navig li a:hover{
    color:black;
}
.main{
    height: 110%;
    background-color:lightpink;
    }

.cart_info{
    position:absolute;
    margin-left:80%;
    width:12%;
    height:5%;
    background-image:url(images/website_product_page/Rounded-Rectangle-2.png);
    background-size:cover;
    background-repeat:no-repeat;
}
.cart_info img{
margin-top:4%;
margin-left:5%;
width:20%;
}
.cart_info p{
font-size:150%;
font-weight:bold;
color:white;
padding-bottom:2%;
float:right;
margin-right:20%;
margin-top:5%;
}

.title_para{
    font-size:200%;
    text-align:center;
    color:white;
    font-weight:bold;
    padding-top:3%;

}

.left_box{
    width:15%;
    height:50%;
    padding:2%;
    margin-top:2%;
    background-color:white;
    border-radius: 4%;
    margin-left:10%;
    margin-right:5%;
    float:left;
    text-align:center;

}
.left_box h1{
height:10%;
font-weight:normal;
font-size:250%;
color:lightgreen;

}
.left_box hr{
    color:lightgreen;
    width:40%;
    margin: auto;
}

.left_box p{
    height:65%;
    width:100%;
    margin-top:10%;
    font-size:119%;
    text-align:left;
    color:blue;
    overflow:scroll;

}
.left_box_btn{
    border:0;
    background-color:white;
    display: block;
    margin:auto;
    margin-top:15%;
    border-radius:40px;
    overflow:hidden;
    width:80%;
    height:9%;
    background-image:url(images/website_list_page/Layer-4.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}


.repeated_boxes{
    width:12%;
    height:35%;
    border-radius: 4%;
    background-color:white;
    margin-left:20px;
    margin-right:7%;
    margin-top:2%;
    float:left;
    text-align:center;
    overflow:hidden;
}
.repeated_boxes p{
    height:15%;
    font-size:1.3em;
    font-weight: bold;
    padding-top:5%;
    color:white;
    letter-spacing: 1px;
    background-color:lightskyblue;
}

.prod_img{
    height:55%;
    font-size:2em;
}
.prod_img img{
padding-top:5%;
width:70%;
height:90%;

}
.prod_btn_1{
    border:0;
    background-color:white;
    display: block;
    margin:auto;
    margin-top:5%;
    width:70%;
    height:9%;
    background-image:url(images/website_list_page/Untitled-2.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.prod_btn_2{
    border:0;
    background-color:white;
    display: block;
    margin:auto;
    margin-top:5%;
    width:70%;
    height:9%;
    background-image:url(images/website_list_page/Untitled-1.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

.footer{
    height:37%;
}
.down_logo{
    width:30%;
    float:left;
    height:100%;
    margin-right:7%;
}
.down_logo h1{
    padding-left:25%;
    font-size:2em;
    margin-top:12%;
    color:gray;

}

.com_info{
    width:15%;
    list-style: none;
    background-color:white;
    float:left;
    margin-top:4%;
}
.com_info li{
    padding:1%;
    color:gray;
    font-weight: bold;
    
}
.com_info a{
    text-decoration: none;
    color:gray;
}
.com_info a:hover{
    color:seagreen;
}